@charset "UTF-8";


body {
	margin: 0;
	font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-selif;
	color: #111;
	background: #fff;
}

a {
	color: inherit;
}


.header {
	position: sticky;

	top: 0;
	background-color: #e6e6e6;
	border-bottom: 1px solid #111;
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 28px 0px;

	z-index: 9999;
}

.logo {
	font-weight: 700;
	position: absolute;
	left: 1%;
}

.nav {
	position: absolute;
	top: 18px;
	right: 1%;

	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.nav a {
	text-decoration: none;
	border: 1px solid #111;
	border-radius: 999px;
	font-size: 14px;
	padding: 6px 5px;
}

.image {
	margin: 0 auto;
	position: relative;
	z-index: 0;
}

.image-img {
	width: 100%;
	height: auto;
	display: block;

}

.image-text {
	position: absolute;
	left: 10%;
	top: 15%;
}

.name {
	margin: 0;
	color: black;
	text-shadow:
		-3px -3px 0 white,
		3px 3px 0 white,
		-3px -3px 0 white,
		3px 3px 0 white;
}

.tagline {
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
}

.container {
	margin: 0 auto;
	padding: 0 14px 40px;
}

.section {
	margin-top: 26px;
	scroll-margin-top: 70px;
}

.title {
	margin: 0 0 10px;
	font-size: 18px;
}

.card {
	border: 1px solid #e6e6e6;
	border-radius: 14px;
	padding: 14px;
}

.profile-list {
	margin: 0;
}

.works-list {
	margin: 0;
	list-style: none;
	display: grid;
	gap: 12px;
}

.works-item {
	border: 1px solid #e6e6e6;
	border-radius: 14px;
	padding: 14px;
}

.works-link {
	text-decoration: none;
}

.works-link :hover {
	border-bottom-color: #111;
}

.skills-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.skill-item {
	border: 1px solid #e6e6e6;
	border-radius: 80px;
	padding: 8px 10px;

}

.form {
	display: grid;
	gap: 12px;

}

.field {
	display: grid;
	gap: 6px;
	justify-items: center;

	width: 80%;
	margin: 0 auto;
	position: relative;
}

.span {
	position: absolute;
	top: -5px;
	left: 12px;
	padding: 0 6px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	background: #fff;
}

.input {
	width: 100%;
	padding: 20px 12px 10px;
	border: 2px solid #e6e6e6;
	border-radius: 6px;
	font-size: 12px;
}

.btn {
	width: 80%;
	border: 1px solid #e6e6e6;
	border-radius: 14px;
	padding: 8px 10px;
}

textarea.input {
	min-height: 160px;
}